.gameScore {
  text-align: center;
  height: 70px;
  position: relative;
  line-height: 1em;
  padding: 0;
  margin: 0;
}
div.gameScore {

}

h3.score {
  margin-top: 5px;
  padding: 0;
  font-weight: 600;
}
h3.status{
  margin: 0;
  padding: 0;
  color: red;
}
